<template>
  <div class='conteiner'>
    <navbar-component />
    <router-view />
    <footer-component v-if='loggedIn() == true'/>
  </div>
</template>

<script>
import Navbar from './packs/components/navigation_bar.vue'
import Footer from './packs/components/footer.vue'
import * as session from './packs/session.js'

export default {
  components: {
    'navbar-component': Navbar,
    'footer-component': Footer
  },
  methods: {
    loggedIn: function(){
      const token = session.getToken()
      if(token){
        return(true)
      }else{
        return(false)
      }
    }
  }
}
</script>
