<template>
  <div class='text-center'>
    <p>Boonoにログインしよう！</p>
    <user-login-form />
    </div>
</template>

<script>
import UserLoginForm from '../components/login_form.vue'

export default {
  components: {
    'user-login-form': UserLoginForm
  }
}
</script>
