<template>
  <div>
    <p>本のタイトル、または著者名を登録</p>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input type='radio' class="form-check-input" id='title' value='title' v-model='subscription.type'>
        <label for='title'>タイトル</label>
      </div>

      <div class="form-check form-check-inline">
        <input type='radio' class="form-check-input" id='auther' value='auther' v-model='subscription.type'>
        <label for='auther'>著者名</label>
      </div>

      <input type='text' class='form-control' v-model='subscription.content' placeholder='新規購読'>
      <button class='btn btn-primary'>新規作成</button>
    </div>
  </div>
</template>

<script>
export default{
  data: function() {
    return({
      subscription: {
        type: '',
        content: '',
      }
    })
  }
}
</script>
