<template>
  <div class='text-center'>
    <p>Boonoに登録しよう！</p>
    <user-registration-form />
  </div>
</template>

<script>
import UserRegistrationForm from '../components/user_registration_form.vue'

export default {
  components: {
    'user-registration-form': UserRegistrationForm
  }
}
</script>
