<template>
  <div class='text-center'>
    <p>Boonoを始めよう</p>
    <router-link to='user-registration'>
      <button class='btn btn-primary'>
        アカウント作成
      </button>
    </router-link>

    <router-link to='login'>
      <button class='btn'>
        ログイン
      </button>
    </router-link>
  </div>
</template>
