<template>
  <div>
    <footer>
      <v-tabs icons-and-text centered dark color='blue'>
        <v-tabs-slider color='white'></v-tabs-slider>
        <v-tab>
          <router-link to='/'>'<v-icon>book</v-icon></router-link>
        </v-tab>
        <v-tab>
          <router-link to='/'>'<v-icon>notifications</v-icon></router-link>
        </v-tab>
        <v-tab>
          <router-link to='/'>'<v-icon>account_box</v-icon></router-link>
        </v-tab>
      </v-tabs>
    </footer>
  </div>
</template>
