<template>
  <div class='text-center'>
    <div class='form-group'>
      <input type='email'class='form-control'  v-model='email' placeholder='email' />
    </div>
    <div class='form-group'>
      <input type='password' class='form-control' v-model='password' placeholder='password' />
    </div>
    <button
      class='btn btn-primary'
      v-on:click='getToken'
      >
      ログイン
    </button>
  </div>
</template>

<script>
import axios from 'axios'
import router from '../router.js'
import * as session from '../session.js'

export default {
  data: function() {
    return({
      email: '',
      password: ''
    })
  },
  methods: {
    getToken: function() {
      axios.get('/api/v1/tokens',{ params: { email: this.email, password: this.password } })
      .then(function(response) {
        if(response.data.token) {
          session.login(response.data.token)
          console.log(session.getToken())
          router.push('/')
        }
        else{
          alert(response.data.messages)
        }
      })
      .catch((error) => {
        alert('server internal error')
        console.log(error)
      })
    }
  }
}
</script>
