<template>
  <div class='text-center'>
    <div class='form-group'>
      <input type='text' class='form-control' v-model='user.name' placeholder='user name' />
    </div>
    <div class='form-group'>
      <input type='email'class='form-control'  v-model='user.email' placeholder='email' />
    </div>
    <div class='form-group'>
      <input type='password' class='form-control' v-model='user.password' placeholder='password' />
    </div>
    <div class='form-group'>
      <input type='password' class='form-control' v-model='user.password_confirmation' placeholder='password confirmation' />
    </div>
    <button
      class='btn btn-primary'
      v-on:click="registrationUser"
      >
      アカウント作成
    </button>
  </div>
</template>

<script>
import axios from 'axios'
import router from '../router.js'

export default {
  data: function() {
    return({
      user: {
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      }
    })
  },
  methods: {
    registrationUser: function(){
      axios.post('/api/v1/users', { user: this.user })
      .then( function(response) {
        if (response.data.status === 201) {
          this.isWaiting= false
          alert('User create success')
          router.push('/')
        }else {
          alert(response.data.messages)
        }
      })
      .catch((error) => {
        alert('server internal error')
        console.log(error)
      })
    }
  }
}
</script>
